pip==21.3.1
matplotlib==3.3.4
seaborn==0.11.2
scikit-learn==1.0.0
setuptools==58.4.0
wheel==0.37.0
opencv-python-headless==4.5.4.60
mxnet-cu112==1.9.1
d2l==0.17.0
autogluon.vision==0.6.3b20230126
torch==1.13.1
torchvision==0.14.1