pip==23.3
matplotlib==3.3.4
seaborn==0.11.2
scikit-learn==1.5.0
setuptools==65.5.1
wheel==0.38.1
opencv-python-headless==4.8.1.78
mxnet-cu112==1.9.1
d2l==0.17.0
autogluon.vision==0.6.3b20230126
torch==2.2.0
torchvision==0.14.1